/*--FONTS--*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap");

*,
:before,
:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/*---NAVBAR---*/

.navbar {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.logo {
    flex: 20%;
    margin-left: 10%;
    text-align: left;
}

.logo h1 {
    font-family: "Lobster", cursive;
    color: #180f4a;
    font-size: 34px;
}

.menu {
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #ff2978;
    border-top: 4px solid #180f4a;
}

#faleconosco-btn {
    background: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
    border: none;
}

#faleconosco-btn:hover {
    background: #ff2978;
}

/*---HEADER---*/

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 150px;
}

.headline {
    margin-left: 10%;
    flex: 40%;
}

.headline h2 {
    font-weight: 700;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;
}

.headline p {
    color: gray;
    text-align: left;
}

.contact-btn {
    display: inline-block;
    background-color: #ff2978;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover {
    background: #180f4a;
}

.img-headline {
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

.img-headline img {
    max-width: 90%;
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

/*---SECTION---*/

section {
    display: inline-block;
    height: 400px;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
}

section h2 {
    width: 100%;
    margin: 0;
    font-size: 50px;
    font-family: "Lobster", cursive;
    font-weight: bold;
    color: #180f4a;
}

.services {
    display: inline-block;
    margin-top: 5%;
}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #ff2978;
    border-radius: 10px;
    cursor: pointer;
}

.card-hidden-text {
    display: none;
}

.card:hover {
    background: #ff2978;
    color: white;
    padding-top: 85px;
}

.card:hover img {
    display: none;
}

.card:hover .card-text {
    display: none;
}

.card:hover .card-hidden-text {
    display: block;
}

/*---FOOTER---*/

footer {
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #180f4a, #090422, black);
    text-align: center;
    border-top: solid 5px #ff2978;
}

.footer-logo {
    padding: 100px;
}

.agency {
    font-family: "Lobster", cursive;
    color: white;
    font-size: 34px;
}

/*---Contato---*/

.img-whatsapp {
    position: fixed;
    bottom: 5px;
    right: 5px;
}
